:root {
  --Very-dark-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  --bg-violet: hsl(273, 75%, 66%);
  --bg-blue: hsl(240, 73%, 65%);

  --text-very-dark: hsl(237, 12%, 33%);
  --text-dark: hsl(240, 6%, 50%);
  --divider-blue: hsl(240, 5%, 91%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.2rem;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 900px;
  height: 100vh;
  background: linear-gradient(var(--bg-violet), var(--bg-blue));
}

.card {
  display: flex;
  flex-wrap: wrap;
  min-height: 580px;
  width: 350px;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  margin-top: 125px;
}

.card__header {
  margin: -125px 0 0 8px;
  width: 300px;
  right: 25px;
}

.card__title {
  height: max-content;
  width: max-content;
  font-size: 2.6rem;
  margin: 0 auto 20px;
}

.card__body {
  width: 100%;
}

.card__question {
  width: 100%;
  border-bottom: 1px solid var(--divider-blue);
  padding: 20px 0;
}

.question {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.question,
.question span {
  transition: all 0.3s;
}

.question:hover,
.question span:hover {
  cursor: pointer;
  color: var(--soft-red);
}

.question:focus {
  color: red;
}

.answer {
  display: none;
  overflow: hidden;
  height: 0;
  margin-top: 10px;
  color: var(--text-dark);
  font-size: 1.5rem;
}

.showAnswer {
  display: block;
  height: max-content;
  padding: 10px 0;
  translate: 10px;
}

.rotate {
  transform: rotate(180deg);
}

.strong {
  font-weight: 700;
}
